.bookReviewDetailContainer {
  display: flex;
  gap: 2%;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  margin-bottom: 30px;
}

.bookSection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3%;
  gap: 3%;
  cursor: default;
}

.bookSection > h2 {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bookCoverImageSection {
  display: flex;
  width: 300px;
  height: auto;
  justify-content: center;
}

.bookCoverImage {
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
}

.bookCoverImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mark {
  position: absolute;
  width: 20%;
  top: 3%;
  right: -3%;
  z-index: 10;
  cursor: default;
}

.bookDetailSection {
  display: flex;
  flex-direction: column;
  line-height: 200%;
  width: 100%;
  height: auto;
  font-family: 'Nanum Gothic Coding', monospace;
}

.bookDetailSection > h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.dividedLine {
  border-left: solid 1px lightgray;
  height: 75vh;
}

.bookReviewSection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  gap: 2%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.postUserWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postUserDetail {
  display: flex;
  gap: 1.5rem;
}

.postUserDetail h2 {
  font-family: Arial, Helvetica, sans-serif;
}


.postUserDetail div {
  cursor: default;
}

.manageReviewSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 150px;
  border: solid 1px lightgray;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  text-align: center;
  position: absolute;
  right: 4.5%;
  z-index: 10;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.manageReviewSection > hr {
  color: lightgray;
  width: 90%;
}

.manageReviewSection > div {
  cursor: pointer;
}

.bookReview {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.reviewTitle {
  font-size: 2rem;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  width: 100%;
  cursor: default;
}

hr {
  width: 100%;
  color: lightgray;
}

.bookReview > p {
  line-height: 200%;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 500;
  cursor: default;
}

.reviewManageButton {
  cursor: pointer;
}

.userPageButton {
  padding: 0.625rem 1rem;
  text-decoration: none;
  border: 0.0625rem solid;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 5vh;
  max-height: 25px;
  margin-bottom: 3%;
}

.userPageButton:hover {
  background-color: gold;
}

