.cardCreateSectionContainer {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
}

.cardPreviewSection {
  border: solid 2px lightgray;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholderText {
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: text;
  width: 90%; /* 기존 width: 100%에서 줄여서 여백 확보 */
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
  white-space: normal; /* 여러 줄 표시 */
  overflow-wrap: break-word; /* 컨테이너 너비 초과 시 자동 줄바꿈 */
}

.inputText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  width: 80%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background: transparent;
}

h3 {
  margin: 0;
  max-width: 80%;
  max-height: 80%;
}

.selectCardImageSection {
  border: solid 2px lightgray;
  width: 350px;
  height: 350px;
  border-radius: 10%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 2rem;
}

.cardImageStyle {
  display: block;
  border: solid 2px lightgray;
  border-radius: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cardImageStyle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 꽉 채우되, 비율 유지 */
}

.cardImageTypeContainer {
  display: flex;
  justify-content: space-around;
}

.cardImageType {
  box-sizing: border-box;
  width: 35%;
  text-align: center;
  border: solid 2px lightgray;
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
