.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.0625rem solid #dee2e6;
  box-sizing: border-box;
  height: 12vh;
  max-height: 70px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.link {
  padding: 0.625rem 1rem;
  text-decoration: none;
  border: 0.0625rem solid;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 5vh;
  max-height: 25px;
}

.link:hover {
  /* background-color: #e2e6ea; */
  background-color: gold;
}

.profileHover {
  position: relative;
}

.profileButton {
  box-sizing: content-box;
  border: none;
  border-bottom: 0.0625rem solid;
  padding: 0.625rem 1rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.profileButton:hover {
  background-color: #e2e6ea;
}

.profileMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid lightgray;
  background-color: #f8f9fa;
  z-index: 1000;
  min-width: 9.375rem;
  margin-top: 0.625rem;
  right: 0;
  text-align: c;
}

.profileMenuLink {
  text-decoration: none;
  padding: 0.625rem;
  transition: background-color 0.3s;
}

.profileMenuLink:hover {
  background-color: #e2e6ea;
}

.logo {
  height: 40px;
  width: 40px;
}
