.container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  width: 80%;
}

.main p {
  white-space: nowrap;
  font-size: 1.2rem;
  text-align: center;
}

.searchBox input {
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2rem 0;
  width: 400px;
}
